apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-dns-v8
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    version: v8
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: kube-dns
    version: v8
  template:
    metadata:
      labels:
        k8s-app: kube-dns
        version: v8
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
      - name: kube2sky
        image: vipdocker-f9nub.vclound.com/google_containers/kube2sky:1.11.4
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
        args:
        # command = "/kube2sky"
        - -domain={{ dns_domain }}
        - -kube_master_url=http://{{ groups['master'][0] }}:8080
        - -etcd-server=http://{{ groups['etcd'][0] }}:4001
        - -v=2
      - name: skydns
        env:
        - name: PROMETHEUS_PORT
          value: "80"
        - name: PROMETHEUS_PATH
          value: "/probe"
        image: vipdocker-f9nub.vclound.com/skynetservices/skydns:latest
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
        args:
        # command = "/skydns"
        - -machines=http://{{ groups['etcd'][0] }}:4001
        - -addr=0.0.0.0:53
        - -ns-rotate=false
        - -nameservers=10.199.219.243:53
        - -domain={{ dns_domain }}.
        ports:
        - containerPort: 53
          name: dns
          protocol: UDP
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 80
          name: metrics
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 5
      - name: healthz
        image: vipdocker-f9nub.vclound.com/google_containers/exechealthz:1.0
        resources:
          limits:
            cpu: 10m
            memory: 20Mi
        args:
        - -cmd=nslookup kubernetes.default.svc.{{ dns_domain }} localhost >/dev/null
        - -port=8080
        ports:
        - containerPort: 8080
          protocol: TCP
      dnsPolicy: Default
